<%- include("partials/header") -%>

<div class="">
    <div class="row">
        <div class="u-align-center col-lg-6 col-md-6 col-sm-6">
            <div class="container-layout">
                <div class="img">
                    <h3 class="text1">Hello, I'm Ayush Sachan</h3>
                    <p class="text2">I am a versatile Web Developer and competitive programmer</p>
                </div>
            </div>
        </div>
            <div class="align-center1 col-lg-6 col-md-6 col-sm-6">
                <div class="container-layout1">
                    <h1 class="custom-font">About Me</h1>
                    <p class = "custom-font1">I am  currently Persuing Bachelor of technology(B.tech) in Computer
                        Science and Engineering(CSE). at Krishna Institute of Engineering and Technology, Gaziabad.
                        I am a Full Stack Web Developer as well as Competitive Programmer.
                         </p>
                         <a href="/contact" class="contact1">Contact Me</a>
                </div>
            
        </div>
    </div>
</div>
<%- include("partials/footer") -%>
