<%- include("partials/header") -%>
<div class="header">
    <h1><b><em>Get in touch</em></b></h1>
    <p style="font-size:2rem">
        Want to get in touch? We'd love to hear from you. Here's how  <br>
         can reach us...
    </p>
</div>
<br>
<div class="contact">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 data">
            <ul class="nobull">
                <li class="phone">
                    <img src="https://brandaffair.ro/assets/ea8fd523/images/icons/contact_call.svg" style=" margin-right: 30px">
                    <a href="tel:+8840733668">+91-8840733668</a>
                </li>
                <br>
                <li>
                  <img src="https://brandaffair.ro/assets/ea8fd523/images/icons/contact_mail.svg" style=" margin-right: 30px">
                    <a href="mailto:ayushsachan.in@gmail.com">ayushsachan.in@gmail.com</a>
                </li>
                <br>
                <li>
                    <img src="https://brandaffair.ro/assets/ea8fd523/images/icons/contact_location.svg" style=" margin-right: 30px">
                    <a href="#">Street-3 friends colony Near KIET Gaziabad</a> 
                </li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <img class="image" src="https://marvelapp.com/static/illustration@2x-85cce263ddf60035c6702cc57dd1fc2a-4d4c8.jpg">
        </div>
    </div>
</div>

<%- include("partials/footer") -%>